* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vmin;
    width: 60vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);z
    font-size: 8vmin;
    color: red;
    background-color: paleturquoise;
    cursor: pointer;
}

#Reset-button, #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#Reset-button {
    background-color: cyan;
}

#new-btn {
    background-color: black;
    color: white;
}

#msg {
    color: beige;
    font-size: 5vmin;
}

.msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

.hide {
    display: none;
}
